* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 100px;

  form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      background-color: rgba(0, 71, 255, 1);
      border-radius: 10px;
      color: white;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      width: 438px;
      height: 56px;
      border: none;
    }

    input {
      border: 2px black solid;
      border-radius: 8px;
      padding: 5px;
      width: 438px;
      height: 56px;
      padding-left: 16px;
    }
  }

  a {
    color: rgba(0, 71, 255, 1);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

  }

  input,
  input::placeholder {
    font-size: 16px;
    color: black;
    font-weight: 500;
  }
}

p {
  font-size: 48px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
}

.continue {
  width: 438px;
  height: 56px;
  border-radius: 10px;
  background-color: #0047FF;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.signup {
  text-align: center;
  margin-top: 32px;
}